<footer class="footer">
    <div class="container">

        <div class="footer-middle">
            <div class="row">

                <div class="col-lg-3 col-md-6">
                    <div class="widget ml-lg-4">
                        <h4 class="widget-title">ENLACES DE INTERÉS</h4>
                        <ul class="widget-body">
                            <li>
                                <img src="/images/footer/F_logo_1-06.png" class="if"><a href="/nosotros">Nosotros</a>
                            </li>
                            <li>
                                <img src="/images/footer/F_preguntas_2-06.png" class="if"><a href="#">Preguntas Frecuentes</a>
                            </li>
                            <li>
                                <img src="/images/footer/F_libro_3-06.png" class="if"><a href="#">Libro de Reclamaciones</a>
                            </li>
                            <li>
                                <img src="/images/footer/F_política_4-06.png" class="if"><a href="#">Política y condiciones de uso</a>
                            </li>
                        </ul>
                    </div>
                    <!-- End Widget -->
                </div>

                <div class="col-lg-3 col-md-6">
                    <div class="widget widget-info">
                        <h4 class="widget-title">ATENCIÓN AL CLIENTE</h4>
                        <ul class="widget-body">
                            <li>
                                <img src="/images/footer/F_wsp_5-06.png" class="if"><label>Central:</label>
                                <a href="tel:#">+511 990 707 664</a>
                            </li>

                            <li>
                                <img src="/images/footer/F_reloj_6-06.png" class="if"><a href="#">L - D de 10:00 a 22:00 hrs</a>
                            </li>

                            <li>
                                <img src="/images/footer/F_contacto_7-06.png" class="if"><a href="#">contacto@cohemgames.com</a>
                            </li>
                            
                        </ul>
                    </div>
                    <!-- End Widget -->
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="widget">
                        <h4 class="widget-title">SUSCRIBETE</h4>
                        <div class="widget widget-newsletter form-wrapper form-wrapper-inline">
                            <form action="#" class="input-wrapper input-wrapper-inline">
                                <input type="email" class="form-control" name="email" id="email"
                                    placeholder="Ingresa tu correo" required />
                                <button class="btn btn-primary btn-rounded btn-md ml-2" type="submit"><i
                                        class="d-icon-arrow-right"></i></button>
                            </form>
                        </div>
                        <h4 class="widget-title">MÉTODOS DE PAGO</h4>
                        <figure class="payment">
                            <img src="/images/footer/F_visa-06.png" alt="payment" width="159" height="29" />
                            <img src="/images/footer/F_master-06.png" alt="payment" width="159" height="29" />
                            <img src="/images/footer/F_amex-06.png" alt="payment" width="159" height="29" />
                            <img src="/images/footer/F_dinner-06.png" alt="payment" width="159" height="29" />
                            
                        </figure>
                    </div>
                    <!-- End Widget -->
                </div>
            </div>
        </div>
        <!-- End FooterMiddle -->
        <!--<div class="footer-bottom">
        <div class="footer-left">
            <figure class="payment">
                <img src="images/payment.png" alt="payment" width="159" height="29" />
            </figure>
        </div>
        <div class="footer-center">
            <p class="copyright">Riode eCommerce &copy; 2021. All Rights Reserved</p>
        </div>
        <div class="footer-right">
            <div class="social-links">
                <a href="#" title="social-link" class="social-link social-facebook fab fa-facebook-f"></a>
                <a href="#" title="social-link" class="social-link social-twitter fab fa-twitter"></a>
                <a href="#" title="social-link" class="social-link social-linkedin fab fa-linkedin-in"></a>
            </div>
        </div>
    </div>-->
        <!-- End FooterBottom -->
    </div>
</footer>


<div id="myModal" class="modal fullscreen-modal">

    <!-- Modal content -->
    <div class="modal-content">
        <span class="close">&times;</span>
        <div class="form-box">
            <div class="tab tab-nav-simple tab-nav-boxed form-tab">
                <ul class="nav nav-tabs nav-fill align-items-center border-no justify-content-center mb-5"
                    role="tablist">
                    <li class="nav-item">
                        <a class="nav-link border-no lh-1 ls-normal active" href="#signin">Login</a>
                    </li>
                    <li class="delimiter">or</li>
                    <li class="nav-item">
                        <a class="nav-link border-no lh-1 ls-normal" href="#register">Register</a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active in" id="signin">
                        <form action="#">
                            <div class="form-group mb-3">
                                <input type="text" class="form-control" id="singin-email" name="singin-email"
                                    placeholder="Username or Email Address *" required="">
                            </div>
                            <div class="form-group">
                                <input type="password" class="form-control" id="singin-password" name="singin-password"
                                    placeholder="Password *" required="">
                            </div>
                            <div class="form-footer">
                                <div class="form-checkbox">
                                    <input type="checkbox" class="custom-checkbox" id="signin-remember"
                                        name="signin-remember">
                                    <label class="form-control-label" for="signin-remember">Remember
                                        me</label>
                                </div>
                                <a href="#" class="lost-link">Lost your password?</a>
                            </div>
                            <button class="btn btn-dark btn-block btn-rounded" type="submit">Login</button>
                        </form>
                        <div class="form-choice text-center">
                            <label class="ls-m">or Login With</label>
                            <div class="social-links">
                                <a href="#" title="social-link"
                                    class="social-link social-google fab fa-google border-no"></a>
                                <a href="#" title="social-link"
                                    class="social-link social-facebook fab fa-facebook-f border-no"></a>
                                <a href="#" title="social-link"
                                    class="social-link social-twitter fab fa-twitter border-no"></a>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="register">
                        <form action="#">
                            <div class="form-group mb-3">
                                <input type="email" class="form-control" id="register-email" name="register-email"
                                    placeholder="Your Email Address *" required="">
                            </div>
                            <div class="form-group">
                                <input type="password" class="form-control" id="register-password"
                                    name="register-password" placeholder="Password *" required="">
                            </div>
                            <div class="form-footer">
                                <div class="form-checkbox">
                                    <input type="checkbox" class="custom-checkbox" id="register-agree"
                                        name="register-agree" required="">
                                    <label class="form-control-label" for="register-agree">I
                                        agree to the
                                        privacy policy</label>
                                </div>
                            </div>
                            <button class="btn btn-dark btn-block btn-rounded" type="submit">Register</button>
                        </form>
                        <div class="form-choice text-center">
                            <label class="ls-m">or Register With</label>
                            <div class="social-links">
                                <a href="#" title="social-link"
                                    class="social-link social-google fab fa-google border-no"></a>
                                <a href="#" title="social-link"
                                    class="social-link social-facebook fab fa-facebook-f border-no"></a>
                                <a href="#" title="social-link"
                                    class="social-link social-twitter fab fa-twitter border-no"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>


