<header class="header">
    <div class="header-middle sticky-header fix-top sticky-content">
        <div class="container">
            <div class="header-left">
                <a href="#" class="mobile-menu-toggle">
                    <i class="d-icon-bars2"></i>
                </a>
                <a href="/" class="logo">
                    <img src="/pruebas/logo.png" alt="logo" width="153" height="44" />
                </a>
                <!-- End Logo -->

                <div class="header-search hs-simple">
                    <form action="#" class="input-wrapper">
                        <input type="text" class="form-control" name="search" autocomplete="off"
                            placeholder="Buscar" required />
                        <button class="btn btn-search" type="submit" title="submit-button">
                            <i class="d-icon-search"></i>
                        </button>
                    </form>
                </div>
                <!-- End Header Search -->
            </div>
            <div class="header-right">
                <a href="#" class="icon-box icon-box-side">
                    <div class="icon-box-icon mr-0 mr-lg-2">
                        <i class="d-icon-map"></i>
                    </div>
                    <div class="icon-box-content d-lg-show">
                        <h4 class="icon-box-title">Nuestras Tiendas</h4>
                        <p>Sedes</p>
                    </div>
                </a>
                <span class="divider"></span>

                <a href="#" class="icon-box icon-box-side">
                    <div class="icon-box-icon mr-0 mr-lg-2">
                        <i class="d-icon-user"></i>
                    </div>
                    <div class="icon-box-content d-lg-show">
                        <h4 class="icon-box-title">Iniciar Sesión</h4>
                        <p>Registrate</p>
                    </div>
                </a>
                
                <span class="divider"></span>
                <div class="dropdown cart-dropdown type2 off-canvas mr-0 mr-lg-2">
                    <a href="#" class="cart-toggle label-block link">
                        <div class="cart-label d-lg-show">
                            <span class="cart-name">Carrito:</span>
                            <span class="cart-price">S/ 0.00</span>
                        </div>
                        <i class="d-icon-bag"><span class="cart-count">1</span></i>
                    </a>
                    <div class="canvas-overlay"></div>
                    <!-- End Cart Toggle -->
                    <div class="dropdown-box">
                        <div class="canvas-header">
                            <h4 class="canvas-title">Carrito</h4>
                            <a href="#" class="btn btn-dark btn-link btn-icon-right btn-close">cerrar<i
                                    class="d-icon-arrow-right"></i><span class="sr-only">Carrito</span></a>
                        </div>
                        <div class="products scrollable">
                            <div class="product product-cart">
                                <figure class="product-media">
                                    <a href="producto">
                                        <img src="pruebas/producto1.png" alt="product" width="80"
                                            height="88" />
                                    </a>
                                    <button class="btn btn-link btn-close">
                                        <i class="fas fa-times"></i><span class="sr-only">Cerrar</span>
                                    </button>
                                </figure>
                                <div class="product-detail">
                                    <a href="product.html" class="product-name">Prueba 1</a>
                                    <div class="price-box">
                                        <span class="product-quantity">1</span>
                                        <span class="product-price">S/100.00</span>
                                    </div>
                                </div>

                            </div>
                            <!-- End of Cart Product -->
                            
                        </div>
                        <!-- End of Products  -->
                        <div class="cart-total">
                            <label>Subtotal:</label>
                            <span class="price">S/100.00</span>
                        </div>
                        <!-- End of Cart Total -->
                        <div class="cart-action">
                            <a href="cart.html" class="btn btn-dark btn-link">Ver Carrito</a>
                            <a href="checkout.html" class="btn btn-dark"><span>Checkout</span></a>
                        </div>
                        <!-- End of Cart Action -->
                    </div>
                    <!-- End Dropdown Box -->
                </div>
            </div>
        </div>
    </div>



    <div class="header-middle d-lg-show coloropciones">
        <div class="container">
            <div class="header-left">
                <nav class="main-nav">
                    <ul class="menu">
                        
                        <li>
                            <a href="/categoria/1/Coleccionables">Coleccionables</a>
                            <ul>
                                <li><a href="#">Classic</a></li>
                                <li>
                                    <a href="#">Funko Pop</a>
                                    <ul>
                                        <li><a href="#">Nuevos Ingresos</a></li>
                                        <li><a href="#">Pop´s regulares</a></li>
                                        <li><a href="#">Pop´s Special Edition</a></li>
                                        <li><a href="#">Exclusivo Cohem</a></li>
                                        <li><a href="#">Packs Funko Pop!</a></li>
                                        <li><a href="#">Keychain - Llaveros</a></li>
                                        <li><a href="#">Calendarios de Adviento</a></li>
                                        <li><a href="#">Pop´s Caja Dañada</a></li>
                                    </ul>
                                </li>
                                <li><a href="#">Banpresto</a></li>
                                <li><a href="#">Nintendo</a></li>
                                <li><a href="#">Bandai Hobby</a></li>
                                <li><a href="#">League of Legends</a></li>
                                <li><a href="#">Armables</a></li>
                            </ul>
                        </li>
                        <span class="divider"></span>

                        <li>
                            <a href="#">Gaming</a>
                            <ul>
                                <li><a href="#">Mouses</a></li>
                                <li><a href="#">Teclados</a></li>
                                <li><a href="#">Audifonos</a></li>
                                <li><a href="#">Combos Gamer</a></li>
                            </ul>
                        </li>

                        <span class="divider"></span>
                        <li>
                            <a href="#">Videojuegos</a>
                            <ul>
                                <li><a href="#">Consolas</a></li>
                                <li><a href="#">Nintendo</a></li>
                                <li><a href="#">Ps4</a></li>
                                <li><a href="#">Accesorios</a></li>
                            </ul>
                        </li>

                        <span class="divider"></span>
                        <li>
                            <a href="#">Zona Geek</a>
                            <ul>
                                <li><a href="#">Tazas</a></li>
                                <li><a href="#">Polos</a></li>
                                <li><a href="#">Cuadros</a></li>
                                <li><a href="#">Mochilas</a></li>
                                <li><a href="#">Peluches</a></li>
                                <li><a href="#">Llaveros</a></li>
                            </ul>
                        </li>

                        <span class="divider"></span>
                        <li>
                            <a href="#">Preventas</a>
                            
                        </li>

                        <span class="divider"></span>
                        <li>
                            <a href="#">Ofertas</a>
                        </li>

                    </ul>
                </nav>
            </div>
        </div>
    </div>
</header>