<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <title>Cohem</title>

    <meta name="keywords" content="Funko Pops" />
    <meta name="description" content="Cohem Games">
    <meta name="author" content="D-THEMES">

    <link rel="icon" type="image/png" href="/pruebas/favicon.ico">

    <link rel="preload" href="/views/fonts/cohem/MADETOMMY-Bold.woff2" as="font" type="font/woff2" crossorigin>

    <script>
        WebFontConfig = {
            google: { families: ['Poppins:300,400,500,600,700,800'] }
        };
        (function (d) {
            var wf = d.createElement('script'), s = d.scripts[0];
            wf.src = '/js/webfont.js';
            wf.async = true;
            s.parentNode.insertBefore(wf, s);
        })(document);
    </script>

    <!-- Main CSS File -->
    <link rel="stylesheet" type="text/css" href="/css/cohem.css">


    <link rel="stylesheet" type="text/css" href="/vendor/fontawesome-free/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="/vendor/animate/animate.min.css">

    <!-- Plugins CSS File -->
    <link rel="stylesheet" type="text/css" href="/vendor/magnific-popup/magnific-popup.min.css">
    <link rel="stylesheet" type="text/css" href="/vendor/owl-carousel/owl.carousel.min.css">
    <link rel="stylesheet" type="text/css" href="/vendor/photoswipe/photoswipe.min.css">
    <link rel="stylesheet" type="text/css" href="/vendor/photoswipe/default-skin/default-skin.min.css">

    <link rel="stylesheet" type="text/css" href="/vendor/sticky-icon/stickyicon.css">

    <!-- Meta Pixel Code -->
<script>
    !function(f,b,e,v,n,t,s)
    {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
    n.callMethod.apply(n,arguments):n.queue.push(arguments)};
    if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
    n.queue=[];t=b.createElement(e);t.async=!0;
    t.src=v;s=b.getElementsByTagName(e)[0];
    s.parentNode.insertBefore(t,s)}(window, document,'script',
    'https://connect.facebook.net/en_US/fbevents.js');
    fbq('init', '3266444946715932');
    fbq('track', 'PageView');
  </script>
  <noscript><img height="1" width="1" style="display:none"
    src="https://www.facebook.com/tr?id=3266444946715932&ev=PageView&noscript=1"
  /></noscript>
  <!-- End Meta Pixel Code -->

</head>

<body class="home">

    <div class="page-wrapper">
        <h1 class="d-none">Cohem Store</h1>


        <%- include('partials/header.html'); %>

            <!-- End Header -->

            <main class="main cart">
                <div class="page-content pt-12 pb-12">
                    <div class="step-by pr-4 pl-2">
                        <h2 class="title title-left mb-5">Carrito de compras</h2><br>
                    </div>
                    <div class="step-by pr-4 pl-4">
                        <h3 class="title title-left mb-5">!Aprovecha nuestras ofertas!</h3>
                    </div>
                    <div class="container mt-12 mb-12">
                        <div class="row">
                            <div class="col-lg-12 col-md-12 pr-lg-12">
                                <table class="shop-table cart-table">
                                    <thead>
                                        <tr>
                                            <th></th>
                                            <th></th>
                                            <th><span>Producto</span></th>
                                            <th><span>Precio</span></th>
                                            <th><span>Cantidad</span></th>
                                            <th>Subtotal</th>
                                        </tr>
                                    </thead>
                                    <tbody class="cartarea">
                                        
                                    </tbody>
                                </table>
                                <div class="cart-actions mb-6 pt-4">
                                    <a href="/"
                                        class="btn btn-dark btn-md btn-rounded btn-icon-left mr-4 mb-4"><i
                                            class="d-icon-arrow-left"></i>Seguir Comprando</a>

                                    <a href="/"
                                        class="btn btn-dark btn-md btn-rounded btn-icon-right mr-4 mb-4"><i
                                            class="d-icon-arrow-right"></i>Confirmar Compra</a>
                                </div>
                                
                            </div>
                            
                        </div>
                    </div>
                </div>

            </main>


            <!-- End of Main -->
            <%- include('partials/footer.html'); %>
                <!-- End Footer -->
    </div>

    

    <!-- MobileMenu -->
    <%- include('partials/menumobile.html'); %>

        <!-- Plugins JS File -->
        <script src="/vendor/jquery/jquery.min.js"></script>
        <script src="/vendor/sticky/sticky.min.js"></script>
        <script src="/vendor/imagesloaded/imagesloaded.pkgd.min.js"></script>
        <script src="/vendor/magnific-popup/jquery.magnific-popup.min.js"></script>
        <script src="/vendor/owl-carousel/owl.carousel.min.js"></script>
        <script src="/vendor/elevatezoom/jquery.elevatezoom.min.js"></script>
        <script src="/vendor/photoswipe/photoswipe.min.js"></script>
        <script src="/vendor/photoswipe/photoswipe-ui-default.min.js"></script>
        <!-- Main JS File -->
        <script src="/js/main.js"></script>
        <script src="/js/carrito.js"></script>
        <script src="/js/cart.js"></script>
</body>

</html>